@font-face {
  font-family: 'OpenSans-Bold';
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
 }
